DEBUG='True'
EMAIL_PORT=587
EMAIL_HOST_USER='rahulcodepython@gmail.com'
EMAIL_HOST_PASSWORD=<email password code>
BASE_APP_URL='http://localhost:3000'
BASE_API_URL='http://127.0.0.1:8000'
FRONTEND_SITE_NAME='Z-Tube App'
DB_ENGINE='django.db.backends.postgresql'
DB_USER='rahul'
DB_NAME='postgres'
DB_PASSWORD='admin'
DB_HOST='localhost'
DB_PORT='5432'
GITHUB_OAUTH2_CLIENT_ID=<github auth client id>
GITHUB_OAUTH2_CLIENT_SECRET=<github auth secret key>
GITHUB_REDIRECT_URI='http://localhost:3000/github/callback'
GOOGLE_OAUTH2_CLIENT_ID=<google auth client id>
GOOGLE_OAUTH2_CLIENT_SECRET=<google auth secret key>
GOOGLE_REDIRECT_URI='http://localhost:3000/google/callback'