DEBUG='True'
EMAIL_PORT=587
EMAIL_HOST_USER='rahulcodepython@gmail.com'
EMAIL_HOST_PASSWORD=<email password code>
BASE_APP_URL='http://localhost:3000'
BASE_API_URL='http://127.0.0.1:8000'
FRONTEND_SITE_NAME='Z-Tube App'
GOOGLE_OAUTH2_CLIENT_ID=<google auth client id>
GOOGLE_OAUTH2_CLIENT_SECRET=<google auth secret key>
DB_ENGINE='django.db.backends.postgresql'
DB_USER='rahul'
DB_NAME='postgres'
DB_PASSWORD='admin'
DB_HOST='localhost'
DB_PORT='5432'
ENCRYPTION_KEY='$2^o%4wAtRy9&6D#5gXq7cBp@K1u*P!zLsI8vJl3fN'